@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/RobotoSlab-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
  src: url('/fonts/RobotoSlab-Bold.woff') format('woff');
}
