html,
body {
  font-size: 14px;

  @include tablet {
    font-size: 16px;
  }

  @include desktop {
    font-size: 18px;
  }
}

.section-inverted {
  background-color: $primary;
  color: white;
}

.hero-body {
  background-image: url(https://images.unsplash.com/photo-1554004389-abf213c41d0d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2982&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.title {
  color: #fff !important;
  font-size: 4rem;
}

.subtitle {
  color: #fff !important;
  font-size: 2rem;
}

// .table {
//   background-color: $primary;
//   color: white;

//   th {
//     color: white !important;
//     text-align: left !important;
//   }
// }
